@font-face {
  font-family: 'Roboto Condensed Bold Italic';
  src: url("../fonts/Roboto_Condensed/RobotoCondensed-BoldItalic.ttf");
}

@font-face {
  font-family: 'Roboto Condensed Bold';
  src: url("../fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf");
}

@font-face {
  font-family: 'Roboto Condensed Italc';
  src: url("../fonts/Roboto_Condensed/RobotoCondensed-Italic.ttf");
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto Bold';
  src: url("../fonts/Roboto/Roboto-Bold.ttf");
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url("../fonts/FontsFree-Net-Proxima-Nova-Bold.otf");
}

@font-face {
  font-family: 'Gotham Bold';
  src: url("../fonts/Gotham_Bold/Gotham-Bold.otf");
}

@font-face {
  font-family: 'Roboto Regular';
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #ffffff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

h1 {
  color: #ffffff;
}

li {
  list-style: none;
}

.header-wrap {
  width: 100%;
  height: auto;
  background-color: #389ef2;
}

.header-container {
  height: 60px;
  max-width: 1136px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.65fr 1fr;
      grid-template-columns: 1.65fr 1fr;
}

.header__description {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3.81fr;
      grid-template-columns: 1fr 3.81fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__description a {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr;
      grid-template-columns: 1fr 4fr;
}

.header__description a img {
  width: 26px;
}

.header__description a span {
  -ms-grid-column-align: center;
      justify-self: center;
  color: #ffffff;
  font-size: 25px;
  font-family: Roboto Condensed Bold Italic, sans-serif;
}

.header__description p {
  text-transform: uppercase;
  color: #ffffff;
  font-family: Roboto Condensed Bold, sans-serif;
  border-left: 2px solid #ffc107;
  padding: 13px 9px;
  white-space: nowrap;
  overflow: hidden;
}

.header__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list-item {
  white-space: nowrap;
}

.header__list-item a {
  display: block;
  height: 100%;
}

.header__list-item span {
  font-family: Roboto Condensed Bold, sans-serif;
  font-size: 22px;
  color: #ffffff;
  padding-left: 6px;
}

.header__list-item img {
  width: 27px;
}

.header__list-item a {
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
}

.header__list-item a:hover {
  opacity: .7;
}

.header__list-item:nth-of-type(3) img {
  width: 30px;
}

.logo {
  display: -ms-grid;
  display: grid;
  background: url("../image/background.jpg") no-repeat 50% 50%/cover;
  width: 100%;
  height: 500px;
}

.logo__title {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  letter-spacing: 4px;
  font-size: 121px;
  font-family: Roboto Condensed Italc, sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.logo__title:before {
  content: '';
  background: url("../image/Logo-copy.png") no-repeat 50% 50%/cover;
  display: block;
  width: 230px;
  height: 300px;
  position: absolute;
  left: -75px;
  top: -25px;
}

.content {
  width: 100%;
}

.navigation-wrap {
  width: 100%;
  background-color: #010b13;
  padding: 10px 0px;
}

.navigation-container {
  max-width: 1136px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3.94fr 3.11fr 1fr;
      grid-template-columns: 3.94fr 3.11fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation-title {
  font-family: Roboto Condensed Bold, sans-serif;
  font-size: 29px;
}

.navigation-title a {
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
}

.navigation-title a:hover {
  opacity: .5;
}

.navigation-list {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 24px;
}

.navigation-item {
  height: 100%;
  width: 100%;
  border: 1px solid #ffffff;
  border-radius: 6px;
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
}

.navigation-item a {
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
  font-family: Roboto Condensed Bold, sans-serif;
  font-size: 21px;
  border-radius: 4px;
  line-height: 1.7;
  white-space: nowrap;
  overflow: hidden;
}

.navigation-item:hover {
  opacity: .5;
}

.navigation-item_active a {
  background-color: #ffffff;
  color: #000000;
}

.navigation-item_active:hover {
  opacity: 1;
}

.navigation__buttons-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (40px)[2];
      grid-template-columns: repeat(2, 40px);
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  justify-items: center;
  grid-column-gap: 20px;
}

.navigation__buttons-item a {
  display: block;
}

.navigation__buttons-item a img {
  width: 100%;
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
}

.navigation__buttons-item a:hover img {
  opacity: .5;
}

.movie-container {
  height: 0px;
  display: none;
  width: 100%;
  overflow: hidden;
  -webkit-animation: animMovie 1s ease-in-out 0s forwards;
          animation: animMovie 1s ease-in-out 0s forwards;
}

.movie-container__close {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0a1f30;
  height: 70px;
}

.movie-container__close button {
  background-color: transparent;
  width: 35px;
  height: 35px;
  cursor: pointer;
  border: none;
  outline: none;
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
}

.movie-container__close button img {
  width: 100%;
  height: 100%;
}

.movie-container__close button:hover {
  opacity: .7;
}

.movie-container__content {
  width: 100%;
  height: 600px;
}

.movie-container__movie {
  width: 100%;
  height: 100%;
}

.animBack {
  -webkit-animation: animMovie2 1s ease-in-out 0s forwards;
          animation: animMovie2 1s ease-in-out 0s forwards;
}

@-webkit-keyframes animMovie {
  0% {
    height: 0px;
  }
  100% {
    height: 670px;
  }
}

@keyframes animMovie {
  0% {
    height: 0px;
  }
  100% {
    height: 670px;
  }
}

@-webkit-keyframes animMovie2 {
  0% {
    height: 670px;
  }
  100% {
    height: 0px;
  }
}

@keyframes animMovie2 {
  0% {
    height: 670px;
  }
  100% {
    height: 0px;
  }
}

.slider {
  width: 100%;
  height: 470px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.slider-inner {
  max-width: 100%;
  height: 100%;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: (1fr)[7];
      grid-template: 1fr/repeat(7, 1fr);
  grid-column-gap: 125px;
}

.slider-inner_active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.slider__block {
  width: 220px;
  height: auto;
  background-color: #fff;
  cursor: auto;
}

.slider__block-title {
  font-family: Roboto Bold, sans-serif;
  font-size: 20px;
  line-height: 1.1em;
  padding: 14px 0px;
  word-wrap: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.slider__block-poster {
  position: relative;
  background-color: #010b13;
  z-index: 1;
}

.slider__block-image {
  width: 100%;
  height: 330px;
  opacity: .5;
}

.slider__block-play, .slider__block-more, .slider__block-reload {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
  cursor: pointer;
}

.slider__block-play:hover, .slider__block-more:hover, .slider__block-reload:hover {
  opacity: .7;
}

.slider__block-play {
  background-color: rgba(1, 11, 19, 0.63);
  border-radius: 50%;
  height: 56px;
  width: 56px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.slider__block-play img {
  width: 24px;
}

.slider__block-more {
  height: 28px;
  width: 36px;
  left: 9px;
  top: 7px;
}

.slider__block-reload {
  height: 36px;
  width: 36px;
  top: 5px;
  right: 12px;
}

.slider__actions {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  height: 68px;
}

.slider__actions-block {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (34px)[2];
      grid-template-rows: repeat(2, 34px);
  justify-items: center;
}

.slider__actions p {
  font-family: Proxima Nova Bold, sans-serif;
  font-size: 14px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.slider__actions img {
  height: 20px;
  width: 20px;
  cursor: pointer;
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.slider__actions img:hover {
  opacity: .7;
}

.vertical-wrap {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 700px;
  width: 100%;
}

.vertical-slider {
  position: relative;
  height: 100%;
  max-width: 1136px;
  margin: 0 auto;
}

.vertical-inner {
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  overflow: hidden;
}

.vertical-container {
  height: 233.3px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vertical-container__block {
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2] 8fr;
      grid-template-columns: repeat(2, 1fr) 8fr;
  grid-column-gap: 10px;
}

.vertical-container__poster {
  position: relative;
  height: 100%;
  width: 100%;
}

.vertical-container__image {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.vertical-container__play {
  display: -ms-grid;
  display: grid;
  height: 56px;
  width: 56px;
  position: absolute;
  background-color: rgba(1, 11, 19, 0.67);
  border-radius: 50%;
  cursor: pointer;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
}

.vertical-container__play img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  height: 22px;
  width: 22px;
}

.vertical-container__play:hover {
  opacity: .7;
}

.vertical-container__rank {
  position: relative;
}

.vertical-container__rank svg, .vertical-container__rank p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.vertical-container__rank p {
  font-family: Gotham Bold, sans-serif;
  font-size: 28px;
  color: #22ca71;
}

.vertical-container__inner {
  position: relative;
}

.vertical-container__title, .vertical-container__info {
  font-family: Roboto Condensed Bold, sans-serif;
  font-size: 16px;
}

.vertical-container__title {
  color: #389ef2;
}

.vertical-container__info {
  color: #010b13;
}

.vertical-container__text {
  font-family: Roboto Regular, sans-serif;
  font-size: 18px;
  color: #4b555d;
  margin-top: 15px;
  height: 75px;
  width: 100%;
  word-wrap: normal;
  overflow: hidden;
}

.vertical-container__actions {
  width: 395px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.vertical-container__actions-block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.vertical-container__actions-block p {
  position: relative;
  font-family: Proxima Nova Bold, sans-serif;
  font-size: 17.5px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.vertical-container__actions-block p:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 2px;
  background-color: #000000;
  right: -14px;
}

.vertical-container__actions-block img {
  height: 26px;
  width: 26px;
  -ms-grid-column-align: center;
      justify-self: center;
  cursor: pointer;
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
}

.vertical-container__actions-block img:hover {
  opacity: .7;
}

.vertical-container__actions-block:first-child {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.vertical-container__link {
  position: absolute;
  right: 5px;
  bottom: 15px;
  color: #389ef2;
  text-decoration: underline;
  font-size: 18px;
  font-family: Roboto Condensed Bold, sans-serif;
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
}

.vertical-container__link:hover {
  opacity: .7;
}

.vertical__arrow {
  z-index: 9999;
  position: absolute;
  right: 0;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  width: 25px;
  height: 8px;
  background: url("../svg/verticali-slider-arrows.svg") no-repeat 50% 50%/cover;
}

.vertical__arrow-top {
  top: 38px;
}

.vertical__arrow-bottom {
  bottom: 38px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.footer-wrap {
  position: relative;
  width: 100%;
  height: 175px;
  background-color: #010b13;
  color: #ffffff;
  overflow: hidden;
}

.footer-container {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-rows: 58px 60px 57px;
      grid-template-rows: 58px 60px 57px;
}

.footer__logo {
  font-family: Roboto Condensed Bold Italic, sans-serif;
  font-size: 28px;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
}

.footer__logo:hover {
  opacity: .7;
}

.footer-navigation {
  -ms-grid-row-align: center;
      align-self: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 51px 118px 85px 72px 152px;
      grid-template-columns: 51px 118px 85px 72px 152px;
  justify-items: center;
}

.footer-navigation__list {
  position: relative;
  font-family: Roboto Condensed Italc, sans-serif;
  font-size: 24px;
}

.footer-navigation__list:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 2px;
  background-color: #fff;
  right: -10px;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

.footer-navigation__list:last-child:after {
  content: none;
}

.footer-navigation__link {
  color: #ffffff;
  -webkit-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
}

.footer-navigation__link:hover {
  opacity: .7;
}

.footer__copyright {
  font-family: Roboto Condensed Italc, sans-serif;
  font-size: 18px;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.footer__image {
  position: absolute;
  width: 242px;
}

.footer__image-one {
  top: 40px;
  left: -80px;
}

.footer__image-two {
  top: -180px;
  right: -50px;
}

svg circle {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
/*# sourceMappingURL=main.css.map */