@font-face
   font-family: 'Roboto Condensed Bold Italic'
   src: url('../fonts/Roboto_Condensed/RobotoCondensed-BoldItalic.ttf')

@font-face
   font-family: 'Roboto Condensed Bold'
   src: url('../fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf')

@font-face
   font-family: 'Roboto Condensed Italc'
   src: url('../fonts/Roboto_Condensed/RobotoCondensed-Italic.ttf')
   font-weight: 700

@font-face
   font-family: 'Roboto Bold'
   src: url('../fonts/Roboto/Roboto-Bold.ttf')

@font-face
   font-family: 'Proxima Nova Bold'
   src: url('../fonts/FontsFree-Net-Proxima-Nova-Bold.otf')