@import 'fonts'
   
*
   padding: 0
   margin: 0
   box-sizing: border-box

a
   text-decoration: none
   color: #ffffff
   user-select: none

h1
   color: #ffffff

li
   list-style: none

.header
   &-wrap
      width: 100%
      height: auto
      background-color: #389ef2
   &-container
      height: 60px
      max-width: 1136px
      margin: 0 auto
      display: grid
      grid-template-columns: 1.65fr 1fr
   &__description
      display: grid
      grid-template-columns: 1fr 3.81fr
      align-items: center
      a
         display: grid
         grid-template-columns: 1fr 4fr
         img
            width: 26px
         span
            justify-self: center
            color: #ffffff
            font-size: 25px
            font-family: Roboto Condensed Bold Italic, sans-serif
      p
         text-transform: uppercase
         color: #ffffff
         font-family: Roboto Condensed Bold, sans-serif
         border-left: 2px solid #ffc107
         padding: 13px 9px
         white-space: nowrap
         overflow: hidden    
   &__list
      display: grid
      grid-template-columns: repeat(3, 1fr)
      justify-items: center
      align-items: center
      &-item
         white-space: nowrap
         a
            display: block
            height: 100%
         span
            font-family: Roboto Condensed Bold, sans-serif
            font-size: 22px
            color: #ffffff
            padding-left: 6px
         img
            width: 27px
         a
            transition: opacity .2s ease
            &:hover
               opacity: .7
      &-item:nth-of-type(3)
         img
            width: 30px

.logo
   display: grid
   background: url('../image/background.jpg') no-repeat 50% 50%/cover
   width: 100%
   height: 500px
   &__title
      justify-self: center
      align-self: center
      position: relative
      transform: translateY(-50px)
      letter-spacing: 4px
      font-size: 121px
      font-family: Roboto Condensed Italc, sans-serif
      user-select: none
      &:before
         content: ''
         background: url('../image/Logo-copy.png') no-repeat 50% 50%/cover
         display: block
         width: 230px
         height: 300px
         position: absolute
         left: -75px
         top: -25px

.content
   width: 100%

.navigation
   &-wrap
      width: 100%
      background-color: #010b13
      padding: 10px 0px
   &-container
      max-width: 1136px
      margin: 0 auto
      display: grid
      grid-template-columns: 3.94fr 3.11fr 1fr
      align-items: center
   &-title
      font-family: Roboto Condensed Bold, sans-serif
      font-size: 29px
      a
         transition: opacity .2s ease      
         &:hover
            opacity: .5
   &-list
      height: 100%
      display: grid
      grid-template-columns: repeat(3, 1fr)
      grid-column-gap: 24px
   &-item
      height: 100%
      width: 100%
      border: 1px solid #ffffff
      border-radius: 6px
      transition: opacity .2s ease
      a
         display: block
         height: 100%
         width: 100%
         text-align: center
         font-family: Roboto Condensed Bold, sans-serif
         font-size: 21px
         border-radius: 4px
         line-height: 1.7
         white-space: nowrap
         overflow: hidden
      &:hover
         opacity: .5
      &_active
         a
            background-color: #ffffff
            color: #000000
         &:hover
            opacity: 1
   &__buttons
      &-wrap
      &-list
         display: grid
         grid-template-columns: repeat(2, 40px)
         justify-content: end
         justify-items: center
         grid-column-gap: 20px
      &-item
         a
            display: block
            img
               width: 100%
               transition: opacity .2s ease
            &:hover
               img
                  opacity: .5

.movie-container
   height: 0px
   display: none
   width: 100%
   overflow: hidden
   animation: animMovie 1s ease-in-out 0s forwards
   &__close
      display: grid
      justify-items: center
      align-items: center
      background-color: #0a1f30
      height: 70px
      button
         background-color: transparent
         width: 35px
         height: 35px
         cursor: pointer
         border: none
         outline: none
         transition: opacity .2s ease
         img
            width: 100%
            height: 100%
         &:hover
            opacity: .7
   &__content
      width: 100%
      height: 600px
   &__movie
      width: 100%
      height: 100%

.animBack
   animation: animMovie2 1s ease-in-out 0s forwards


@keyframes animMovie
   0%
      height: 0px
   100%
      height: 670px

@keyframes animMovie2
   0%
      height: 670px
   100%
      height: 0px


.slider
   width: 100%
   height: 470px
   user-select: none
   cursor: pointer
   &-inner
      max-width: 100%
      height: 100%
      overflow: hidden
      display: grid
      grid-template: 1fr/ repeat(7, 1fr)
      grid-column-gap: 125px
      &_active
         cursor: grabbing
   &__block
      width: 220px
      height: auto
      background-color: #fff
      cursor: auto
      &-title
         font-family: Roboto Bold, sans-serif
         font-size: 20px
         line-height: 1.1em
         padding: 14px 0px
         word-wrap: normal
         white-space: nowrap
         overflow: hidden
         text-overflow: ellipsis
      &-poster
         position: relative
         background-color: rgba(1, 11, 19, 1)
         z-index: 1
      &-image
         width: 100%
         height: 330px
         opacity: .5
      &-play, &-more, &-reload
         display: grid
         justify-items: center
         align-items: center
         position: absolute    
         transition: opacity .2s ease 
         cursor: pointer   
         &:hover
            opacity: .7 
      &-play           
         background-color: rgba(1, 11, 19, .63)
         border-radius: 50%
         height: 56px
         width: 56px
         left: 50%
         top: 50%
         transform: translate(-50%, -50%)   
         img
            width: 24px
      &-more
         height: 28px
         width: 36px
         left: 9px
         top: 7px 
      &-reload
         height: 36px
         width: 36px
         top: 5px
         right: 12px
   &__actions
      display: grid
      grid-template-columns: repeat(4, 1fr)
      height: 68px
      &-block
         display: grid
         grid-template-rows: repeat(2, 34px) // ? 
         justify-items: center         
      p
         font-family: Proxima Nova Bold, sans-serif
         font-size: 14px
         align-self: center
      img
         height: 20px
         width: 20px
         cursor: pointer
         transition: opacity .2s ease
         align-self: start
         &:hover
            opacity: .7

.vertical
   &-wrap
      user-select: none
      height: 700px
      width: 100%
   &-slider
      position: relative
      height: 100%
      max-width: 1136px
      margin: 0 auto
   &-inner
      height: 100%
      width: 100%    
      display: grid
      grid-template-rows: repeat(3, 1fr)
      overflow: hidden
   &-container
      height: 233.3px
      display: grid
      align-items: center
      &__block
         height: auto
         display: grid
         grid-template-columns: repeat(2, 1fr) 8fr
         grid-column-gap: 10px
      &__poster
         position: relative
         height: 100%
         width: 100%
      &__image
         height: 100%
         width: 100%
         object-fit: cover 
      &__play
         display: grid
         height: 56px
         width: 56px
         position: absolute
         background-color: rgba(1, 11, 19, .67)
         border-radius: 50%
         cursor: pointer
         top: 50%
         left: 50%
         transform: translate(-50%, -50%)
         transition: opacity .2s ease
         img
            align-self: center
            justify-self: center
            height: 22px
            width: 22px
         &:hover
            opacity: .7
      &__rank
         position: relative
         object, p
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
         p
            font-family: Gotham Bold, sans-serif
            font-size: 28px
            color: #22ca71
      &__inner
         position: relative
      &__title, &__info
         font-family: Roboto Condensed Bold, sans-serif
         font-size: 16px
      &__title   
         color: #389ef2   
      &__info
         color: #010b13
      &__text
         font-family: Roboto Regular, sans-serif
         font-size: 18px
         color: #4b555d
         margin-top: 15px
         height: 75px
         width: 100%
         word-wrap: normal
         overflow: hidden
      &__actions
         width: 395px
         display: grid
         grid-template-columns: repeat(4, 1fr)
         &-block
            display: grid
            grid-template-columns: repeat(2, 1fr)
            p
               position: relative
               font-family: Proxima Nova Bold, sans-serif
               font-size: 17.5px
               align-self: center
               justify-self: center
               &:after
                  content: ''
                  position: absolute
                  height: 100%
                  width: 2px
                  background-color: #000000
                  right: -14px
            img
               height: 26px
               width: 26px
               justify-self: center
               cursor: pointer
               transition: opacity .2s ease
               &:hover
                  opacity: .7
            &:first-child
               grid-template-columns: 1fr
      &__link
         position: absolute
         right: 5px
         bottom: 15px
         color: #389ef2
         text-decoration: underline
         font-size: 18px
         font-family: Roboto Condensed Bold, sans-serif
         transition: opacity .2s ease
         &:hover
            opacity: .7
   &__arrow
      position: absolute
      right: 0
      border: none
      outline: none
      background-color: transparent
      cursor: pointer
      width: 25px
      height: 8px
      background: url('../svg/verticali-slider-arrows.svg') no-repeat 50% 50%/cover
      &-top
         top: 38px
      &-bottom
         bottom: 38px
         transform: rotate(180deg)

.footer
   &-wrap
      position: relative
      width: 100%
      height: 175px
      background-color: #010b13
      color: #ffffff
      overflow: hidden
   &-container
      display: grid
      justify-items: center
      grid-template-rows: 58px 60px 57px
   &__logo
      font-family: Roboto Condensed Bold Italic, sans-serif
      font-size: 28px
      align-self: end
      transition: opacity .2s ease
      &:hover
         opacity: .7
   &-navigation
      align-self: center
      display: grid
      grid-template-columns: 51px 118px 85px 72px 152px
      justify-items: center
      &__list
         position: relative
         font-family: Roboto Condensed Italc, sans-serif
         font-size: 24px
         &:after
            content: ''
            position: absolute
            height: 100%
            width: 2px
            background-color: #fff
            right: -10px
            transform: rotate(10deg)
         &:last-child
            &:after
               content: none
      &__link
         color: #ffffff
         transition: opacity .2s ease-in-out
         &:hover
            opacity: .7
   &__copyright
      font-family: Roboto Condensed Italc, sans-serif
      font-size: 18px
      align-self: start
   &__image
      position: absolute
      width: 242px  
      &-one
         top: 40px
         left: -80px
      &-two
         top: -180px
         right: -50px


   
   



      


 


      
  
